@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
  --nav-height: 9vh;
  --nav-overlay-width: 40%;
  --primary-color: #FF8686;
  --secondary-color: #fff0f5;
  --bg-1:#FF8686;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DM Serif Display", serif;
}

a {
  text-decoration: none;
}

section {
  position: relative;
}

#home .home-title {
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
  margin-bottom: 30px;
  color: #000 !important;
}
.home-desc {
  font-size: 20px;
  color: #dddddd;
}

.section-title {
  text-align: center;
  padding-bottom: 10px;
}

.section-title h1 {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(165, 165, 165);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--primary-color);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title-secondary {
  text-align: center;
  font-weight: bolder;
  padding-bottom: 30px;
}

.section-title-secondary h1 {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title-secondary h1::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: rgb(77, 77, 77);
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title-secondary h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--secondary-color);
  bottom: 0;
  left: calc(50% - 20px);
}

p {
  font-family: "DM Serif Display", serif;
}

body {
  background-color: #ffe4e1;
}

.btn-secondary {
  background-color: #FF8686;
  color: #ffffff;
}

.btn-secondary:hover {
  background-color: var(--primary-color);
}
/* Navbar */
nav {
  position: fixed;
  z-index: 100;
  height: var(--nav-height);
  width: 100vw;
  background-color: var(--secondary-color);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand img {
  position: relative;
  left: 0;
  height: 80px; /* Adjusted height for responsiveness */
  width: auto;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: inherit;
  margin: 10px;
}

.menu a:hover {
  color: var(--primary-color);
}

.hamburger {
  display: none;
}

/* Home */
#home {
  padding-top: 9vh;
  height: 100vh;
  width: 100%;
  color: white;
}

#home .home-container {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  background-image: linear-gradient(
      rgba(255, 105, 180, 0.309),
      rgba(255, 105, 180, 0.512)
    ),
    url("../content/slide/slide-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.carousel-img {
  height: 100%;
  width: 100%;
}


/* About */

#about {
  padding: 2%;
  text-align: center;
}

#about img {
  margin: 10px;
}

.about-text {
  text-align: left;
  font-size: 18px;
}

.about-motto {
  font-weight: 600;
  color: #ff69b4;
}

.abt-img-wrapper {
  transition: all 0.35s;
}

.abt-img-wrapper:hover {
  transform: scale(1.3);
}

.about-img-wrapper-vertical {
  max-width: 35%;
}

.owl-carousel .owl-stage {
  overflow: visible;
  display: flex;
  align-items: center;
}

.owl-next,
.owl-prev {
  background-color: var(--secondary-color) !important;
}

.owl-next:hover,
.owl-prev:hover {
  background-color: var(--primary-color) !important;
}

/* Achievements */

#achievements {
  text-align: center;
  padding: 40px 2% 1px;
  background-color: var(--bg-1);
}

.numerical-data {
  margin: 0 3%;
}

.numerical-data h2 {
  font-size: 3rem;
  font-weight: bolder;
  color: #C4006A;
}

.numerical-data p {
  font-size: 18px;
}

.swiper {
  width: 80%;
}

.paper-horizontal {
  width: 75%;
}

.paper-vertical {
  width: 40%;
}

/* What-we-do */

#services {
  height: auto;
  margin-bottom: 50px;
  padding: 40px 0;
}

#services .box {
  padding: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;
  height: 100%;
}

#services .box:hover {
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
}

#services .box .icon {
  float: left;
}

#services .box .icon i {
  color: #444;
  font-size: 64px;
  transition: 0.5s;
  line-height: 0;
  margin-top: 34px;
}

#services .box .icon i:before {
  background: #FF8686;
  background: linear-gradient(
    45deg,
    var(--primary-color) 0%,
    var(--primary-color) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services .box h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 22px;
}

#services .box h4 a {
  color: #444;
}

#services .box p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #services .box .box {
    margin-bottom: 20px;
  }

  #services .box .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }

  #services .box h4,
  #services .box p {
    margin-left: 0;
    text-align: center;
  }
}

/* INITIATIVES  HOME PAGE*/

#initiatives {
  padding-top: 40px;
  padding-bottom: 100px;
  text-align: center;
  background-color: var(--bg-1);
}

.initiatives-info {
  color: #212529;
}

.button--link {
  letter-spacing: 1px;
  font-family: lato, Geneva, Tahoma, sans-serif;
  color: #d81b60; /* Darker pink color for the button text */
  align-self: flex-start;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 20px;
}

.initiatives-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
}

/* Teams  */

#team {
  padding-top: 40px;
  padding-bottom: 40px;
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  padding: 30px 20px;
  background: #fff;
}

.team .member img {
  max-width: 60%;
  border-radius: 50%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: var(--primary-color);
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.social-links a {
  margin: 10px;
}

/* Footer */

#rollUp {
  height: 0;
  opacity: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin: 15px;
  transition: all 0.35s ease-in;
}

#rollUp.scroll {
  opacity: 1;
  background-color: var(--secondary-color);
  height: 6vh;
  width: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-tejas-logo {
  width: 160px;
}

#contact {
  background-color: #ffffff;
}

/* Media */
@media (max-width: 1200px) {
  #home .home-title {
    font-size: 45px;
    line-height: 60px;
  }
}

@media (max-width: 992px) {
  #home .home-title {
    font-size: 40px;
    line-height: 55px;
  }
}

@media (max-width: 768px) {
  #home .home-title {
    font-size: 35px;
    line-height: 50px;
  }
}

@media (max-width: 576px) {
  #home .home-title {
    font-size: 30px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .brand img {
    width: 50vw;
    height: auto; /* Ensures the aspect ratio is maintained */
  }

  .menu {
    color: white;
    position: absolute;
    right: 0;
    height: 91vh;
    top: var(--nav-height);
    width: var(--nav-overlay-width);
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: left;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .menu a {
    padding-top: 5vh;
  }

  .menu-active {
    transform: translateX(0%);
  }

  .hamburger {
    display: flex;
    align-items: center;
  }

  .fa-nav {
    position: absolute;
    display: none;
  }

  .fa-active {
    display: block;
    color: black;
  }

  /* Home */
  .home-title {
    font-size: 40px;
    line-height: 50px;
  }

  .numerical-data h2 {
    font-size: 1.7rem;
  }

  .brand img {
    height: 60px; /* Adjusted height for responsiveness on mobile */
    width: auto;  /* Ensures the aspect ratio is maintained */
  }

  #home .home-container {
    padding: 0 5%;
  }
}

/* Curves */

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 76px;
}

.wave .shape-fill {
  fill: #FF8686;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave svg {
    width: calc(140% + 1.3px);
    height: 42px;
  }
}

.wave-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-2 svg {
  position: relative;
  display: block;
  width: calc(127% + 1.3px);
  height: 76px;
  transform: rotateY(180deg);
}

.wave-2 .shape-fill {
  fill: #FF8686;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .wave-2 svg {
    width: calc(140% + 1.3px);
    height: 42px;
  }
}